<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" contents="">
		<link rel="icon" href="../static/icon/favicon.ico">

		<title>Testing App</title>

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/jumbotron.css" rel="stylesheet">

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ANDAESA</a>
				</div>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/user_home">Home</a>
					</li>
					<li role="presentation"><a href="/logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="jumbotron">
			<div class="container-fluid">
				<h2>Data</h2>
				<p>This table includes the data for temperature, pH value and time</p>
				<div class="table-responsive">
					<table class="table", border=2>
						
						<thead>
							<tr>
								<th>id</th>
								<th>Temperature</th>
								<th>pH_Value</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							{% for message in messages %}
							<tr>
								<td> {{['id']}} </td>
								<td> {{['temperature']}} </td> 
								<td> {{['pH']}} </td>
								<td> {{['time']}} </td>
							</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
